<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<th:block th:replace="fragments/header :: headerFragment"></th:block>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">현장Check</h1>
                <ol class="breadcrumb mb-4">

                </ol>
                <div class="card mb-4">

                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        공사 점검결과
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>작업시간</th>
                                <th>소속</th>
                                <th>직영/도급</th>
                                <th>작업유형</th>
                                <th>작업주소</th>
<!--                                <th>점검유형</th>-->
                                <th>결과버튼</th>
                            </tr>
                            </thead>
<!--                                                                <tfoot>-->
<!--                                                                    <tr>-->
<!--                                                                        <th>Position</th>-->
<!--                                                                        <th>Office</th>-->
<!--                                                                        <th>Age</th>-->
<!--                                                                        <th>Start date</th>-->
<!--                                                                        <th>Salary</th>-->
<!--                                                                        <th>Salary</th>-->
<!--&lt;!&ndash;                                                                        <th>Salary</th>&ndash;&gt;-->
<!--                                                                    </tr>-->
<!--                                                                </tfoot>-->
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <th:block th:replace="fragments/footer :: footerFragment"></th:block>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->
<script src="js/datatables-simple-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0"></script>
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel='stylesheet' type='text/css'>

<script>

    $( document ).ready(function() {
        console.log( "ready!" );
        $('#datatablesSimple').DataTable({
            "ajax": {
                "url": "http://221.161.215.143:8080/api/alllist/",
                "dataSrc": ""
            },
            "columns": [
                { "data": function (row) { return row.date; } },
                { "data": function (row) { return row.department; } },
                { "data": function (row) { return row.partners; } },
                { "data": function (row) { return row.work_type; } },
                { "data": function (row) { return row.work_site; } },
                // { "data": function (row) { return row.check_type; } },
                {
                    // 결과 버튼 컬럼
                    render: function () {
                        return '<button class="btn btn-primary">결과</button>';
                    }
                }
            ]
        });
    });

</script>
</body>
</html>
