
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
<div id="layoutSidenav" class="w-90">
    <div id="layoutSidenav_nav">
        <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
    </div>
    <div id="layoutSidenav_content" class="d-flex justify-content-center w-80 h-100" >


            <div class="row align-self-center d-flex align-items-stretch w-100">

                <div class="col-6 align-self-center p-1 align-self-stretch">

                    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
                    <div class="file-upload">
                        <div class="row">
                            <div class="col-6">
                                <button class="file-upload-btn mb-2"  type="button" onclick="$('.file-upload-input').trigger( 'click' )">사진 선택하기</button>
                            </div>
                            <div class="col-6">
                                <button class="check-btn btn btn-primary" type="button" onclick="predict()">점검 실행하기</button>
                            </div>
                        </div>



                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>사진 드래그해서 올리기</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" id="helmet-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">사진 제거 </button>
                            </div>
                            <div id="label-container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-6 align-self-center p-1 align-self-stretch">
                    <div class="list">

                        <h2>안전점검 체크리스트</h2>
                        <form>
                            <row>
                                <label class="col-4">
                                    <input id="check_box1" type="checkbox" disabled >
                                    <i></i>
                                    <span>안전모 착용</span>
                                </label>

                                <label class="col-4">
                                    <input id="check_box2" type="checkbox" disabled>
                                    <i></i>
                                    <span>라바콘 설치</span>
                                </label>

                                <label class="col-3">
                                    <input id="check_box3" type="checkbox" disabled>
                                    <i></i>
                                    <span>형광조끼 착용</span>
                                </label>
                            </row>
                        </form>

                        <form>
<!--                            <h2>신청서</h2>-->

                            <hr class="hr-with-margin">
                            <form name="person_info">

                                <div class="row">
                                    <div class="col-6 row">
                                        <div class="col-4">시작시간:</div>
                                        <div class="col-8"><input style="width:195px" type="datetime-local" id="start_time" name="start_time" required> <br><br> </div>
                                    </div>
                                    <div class="col-6 row">
                                        <div class="col-4">종료시간:</div>
                                        <div class="col-8"><input style="width:195px" type="datetime-local" id="finish_time" name="finish_time" required> <br><br> </div>
                                    </div>
                                    <div class="col-6 row">
                                        <div class="col-4">소속:</div>
                                        <div class="col-8"><input type="text" id="department" name="department" required> <br><br> </div>
                                    </div>
                                    <div class="col-6 row">
                                        <div class="col-4">사업형태:</div>
                                        <div class="col-8">
                                            <select style="width:195px" id="partner" name="partner">
                                                <option value="">------ 선택 ------</option>
                                                <option value="직영">직영</option>
                                                <option value="도급">도급</option>
                                                <!-- 추가적인 옵션들 -->
                                            </select>
                                        </div>

<!--                                        <div class="col-8"><input type="text" id="partner" name="partner" required> <br><br></div>-->
                                    </div>
                                    <div class="col-6 row">
                                        <div class="col-4">작업유형:</div>
                                        <div class="col-8"><input type="text" id="work_type" name="work_type" required> <br><br></div>
                                    </div>
                                    <div class="col-12 row">
                                        <div class="col-2">작업주소:</div>
                                        <div class="col-10"><input style="width:500px" type="text" id="address" name="address" required> <br><br></div>
                                    </div>
                                    <hr>
                                    <div align="center">
                                        <button type="button" onclick="sendData()">점검결과 등록</button>
                                    </div><br>
                                </div>
                            </form>
                        </form>


                    </div>
                </div>
            </div>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.x.x.min.js"></script>-->
<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" integrity="sha256-UnTxHm+zKuDPLfufgEMnKGXDl6fEIjtM+n1Q6lL73ok=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.image-upload-wrap').hide();
                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();
                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>


    <script type="text/javascript">

        $( document ).ready(function() {
            init();
        });

        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image

        // the link to your model provided by Teachable Machine export panel
        const URL = "https://teachablemachine.withgoogle.com/models/1xZCgNrsD/";
        const URL2 = "https://teachablemachine.withgoogle.com/models/KoZRah5JY/";
        const URL3 ="https://teachablemachine.withgoogle.com/models/iAkdgCIiL/";

        let model, labelContainer, maxPredictions;
        let model2, maxPredictions2;
        let model3, maxPredictions3;

        // Load the image model and setup the webcam
        async function init() {
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";

            const modelURL2 = URL2 + "model.json";
            const metadataURL2 = URL2 + "metadata.json";

            const modelURL3 = URL3 + "model.json";
            const metadataURL3 = URL3 + "metadata.json";
            // load the model and metadata
            // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
            // or files from your local hard drive
            // Note: the pose library adds "tmImage" object to your window (window.tmImage)
            model = await tmImage.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();


            model2 = await tmImage.load(modelURL2, metadataURL2);
            maxPredictions2 = model2.getTotalClasses();

            model3 = await tmImage.load(modelURL3, metadataURL3);
            maxPredictions3 = model3.getTotalClasses();

            labelContainer = document.getElementById("label-container");

            var row1 = document.createElement("div");
            var row2 = document.createElement("div");
            var row3 = document.createElement("div");
            row1.classList.add("row");
            row2.classList.add("row");
            row3.classList.add("row");
            for (let i = 0; i < maxPredictions + maxPredictions2 + maxPredictions3; i++) { // and class labels
                var col = document.createElement("div");
                col.classList.add("col-6");
                col.appendChild(document.createElement("div"));
                if(i < 2){
                    row1.appendChild(col);
                }
                else if(i < 4){
                    row2.appendChild(col);
                }
                else if(i < 6){
                    row3.appendChild(col);
                }
            }
            labelContainer.appendChild(row1);
            labelContainer.appendChild(row2);
            labelContainer.appendChild(row3);
            console.log(row1);
            console.log(labelContainer.childNodes[0].childNodes[0]);
        }


        // run the webcam image through the image model
        async function predict() {
            // predict can take in an image, video or canvas html element
            var image = document.getElementById("helmet-image")

            const prediction = await model.predict(image, false);
            const prediction2 = await model2.predict(image, false);
            const prediction3 = await model3.predict(image, false);

            for (let i = 0; i < maxPredictions; i++) {
                const classPrediction =
                    prediction[i].className + ": " + prediction[i].probability.toFixed(2);
                const classPrediction2 =
                    prediction2[i].className + ": " + prediction2[i].probability.toFixed(2);
                const classPrediction3 =
                    prediction3[i].className + ": " + prediction3[i].probability.toFixed(2);
                labelContainer.childNodes[0].childNodes[i].childNodes[0].innerHTML = classPrediction;
                labelContainer.childNodes[1].childNodes[i].childNodes[0].innerHTML = classPrediction2;
                labelContainer.childNodes[2].childNodes[i].childNodes[0].innerHTML = classPrediction3;
                if(i == 0){
                    labelContainer.childNodes[0].childNodes[i].childNodes[0].classList.add("blue-bar");
                    labelContainer.childNodes[1].childNodes[i].childNodes[0].classList.add("blue-bar");
                    labelContainer.childNodes[2].childNodes[i].childNodes[0].classList.add("blue-bar");
                }
                else if(i == 1){
                    labelContainer.childNodes[0].childNodes[i].childNodes[0].classList.add("red-bar");
                    labelContainer.childNodes[1].childNodes[i].childNodes[0].classList.add("red-bar");
                    labelContainer.childNodes[2].childNodes[i].childNodes[0].classList.add("red-bar");
                }
            }

            if(prediction[0].probability.toFixed(2) > prediction[1].probability.toFixed(2)){
                $('#check_box1').prop("checked", true);
            }
            else if(prediction[1].probability.toFixed(2) > prediction[0].probability.toFixed(2)){
                $('#check_box1').prop("checked", false);
            }
            if(prediction2[0].probability.toFixed(2) > prediction2[1].probability.toFixed(2)){
                $('#check_box2').prop("checked", true);
            }
            else if(prediction2[1].probability.toFixed(2) > prediction2[0].probability.toFixed(2)){
                $('#check_box2').prop("checked", false);
            }
            if(prediction3[0].probability.toFixed(2) > prediction3[1].probability.toFixed(2)){
                $('#check_box3').prop("checked", true);
            }
            else if(prediction3[1].probability.toFixed(2) > prediction3[0].probability.toFixed(2)){
                $('#check_box3').prop("checked", false);
            }

        }
    </script>


    <script type="module">
        // import { initializeApp } from '/__/firebase/12.7.0/firebase-app.js';
        // import { getFirestore, collection, getDocs } from '/__/firebase/12.7.0/firebase-firestore-lite.js';

        import { initializeApp } from 'firebase/app';
        import { getFirestore, collection, getDocs } from 'firebase/firestore/lite';

        const firebaseConfig = {
            apiKey: "AIzaSyBEZ0He9BbEXYyR5YP1z7KLAwboxOQHwOs",
            authDomain: "ai300-ssg.firebaseapp.com",
            projectId: "ai300-ssg",
            storageBucket: "ai300-ssg.appspot.com",
            messagingSenderId: "563079026653",
            appId: "1:563079026653:web:f15a888c3a9e8db5030834",
            measurementId: "G-W11R23KQN8"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        function formatDateTime(dateTime) {
            const dateObj = new Date(dateTime);
            const year = dateObj.getFullYear();
            const month = String(dateObj.getMonth() + 1).padStart(2, '0');
            const day = String(dateObj.getDate()).padStart(2, '0');
            const hours = String(dateObj.getHours()).padStart(2, '0');
            const minutes = String(dateObj.getMinutes()).padStart(2, '0');

            // 24시간 형식으로 변환
            return `${year}-${month}-${day} ${hours}:${minutes}`;
        }
        function sendData() {
            // 입력된 데이터 가져오기
            var start_time = document.getElementById("start_time").value;
            var finish_time = document.getElementById("finish_time").value;
            var formattedStartTime = formatDateTime(start_time);
            var formattedFinishTime = formatDateTime(finish_time);
            var department = document.getElementById("department").value;
            var partner = document.getElementById("partner").value;
            var workType = document.getElementById("work_type").value;
            var address = document.getElementById("address").value;
            var result1 = document.getElementById("check_box1");
            var ai_result1 = result1.checked ? 0 : 1;
            var result2 = document.getElementById("check_box2");
            var ai_result2 = result2.checked ? 0 : 1;
            var result3 = document.getElementById("check_box3");
            var ai_result3 = result3.checked ? 0 : 1;

            // 데이터 객체 생성
            var data = {
                start_time: formattedStartTime,
                finish_time: formattedFinishTime,
                department: department,
                partners: partner,
                work_type: workType,
                work_site: address,
                ai_result1: ai_result1,
                ai_result2: ai_result2,
                ai_result3: ai_result3
            };
            console.log(data);

            // AJAX 요청 설정
            // $.ajax({
            //     type: "POST",
            //     url: "http://221.161.215.143:8080/api/aiupload/",
            //     // url: "http://121.175.159.50:8080/api/aiupload/",
            //     data: JSON.stringify(data),
            //     contentType: "application/json",
            //     success: function(response) {
            //         console.log(response);
            //         // 성공적으로 응답 받았을 때 실행할 코드 작성
            //         alert("점검결과 등록이 완료되었습니다.");
            //         // 필요한 경우 페이지 리로드 또는 다른 동작 수행 가능
            //     },
            //     error: function(error) {
            //         console.error(error);
            //         // 오류 발생 시 실행할 코드 작성
            //         alert("점검결과 등록에 실패하였습니다.");
            //         // 필요한 경우 오류 처리 방법 선택 가능 (예를 들어, 오류 메시지 출력 등)
            //     }
            // });
            
            // 데이터 추가하기
            db.collection('checklist').add(data)
                .then(function(docRef) {
                    console.log("Document written with ID: ", docRef.id);
                    alert("데이터가 성공적으로 Firestore에 추가되었습니다.");
                    // 필요한 경우 페이지 리로드 또는 다른 동작 수행 가능
                })
                .catch(function(error) {
                    console.error("Error adding document: ", error);
                    alert("Firestore에 데이터 추가 중 오류가 발생했습니다.");
                    // 필요한 경우 오류 처리 방법 선택 가능 (예를 들어, 오류 메시지 출력 등)
                });
        }
    </script>
<!--
Copyright (c) 2023 by Aaron Vanston (https://codepen.io/aaronvanston/pen/yNYOXR)
Copyright (c) 2023 by Anuz Pandey (https://codepen.io/anuzbvbmaniac/pen/RwwdExq)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


-->
</body>

</html>

